body {
  font-size: 20px;
  display: flex;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  margin: 0;
}

#app {
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}

#cash-update {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  top: 15px;
  color: red;
  padding: 5px 20px;
  opacity: 0;
}

.fade-in {
  animation: fade-in 0.3s;
}

.fade-out {
  animation: fade-out 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#cash-update.visible {
  display: block;
}

#bg {
  position: absolute;
  background-color: #eee;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-size: cover;
}

.bg-livingRoom {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282033/livingRoom.jpg);
}
.bg-bath {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282035/bath.jpg);
}
.bg-drawer {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282034/drawer.jpg);
}
.bg-street {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282035/street.jpg);
}
.bg-kiosk {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282033/kiosk.jpg);
}
.bg-mall {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282033/mall.jpg);
}
.bg-supermarket {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610282034/supermarket.jpg);
}
.bg-hospital {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610285341/hospital.jpg);
}
.bg-bar {
  background-image: url(https://res.cloudinary.com/anilmaharjan-com-np/image/upload/v1610286553/bar.jpg);
}

header,
footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

header {
  font-size: 3vw;
}

footer {
  flex-direction: column;
}

h3 {
  margin: 0;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
}

#inventory {
  display: flex;
  flex-wrap: wrap;
}

#inventory .item {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.buttons {
  display: flex;
  width: 200px;
}

button {
  flex-grow: 1;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  margin-right: 2px;
  border: none;
  margin: 10px;
  font-family: inherit;
}

button.action {
  display: block;
  background: #cfc;
}

/* These css rules are neede for data-bind hidden/visible to work */
[data-bind-visible] {
  display: none;
}
[data-bind-visible].visible {
  display: block;
}

[data-bind-hidden] {
  display: block;
}
[data-bind-hidden].hidden {
  display: none;
}

#cash {
  color: #00ff00;
}

#cash::before {
  content: "💰 $ ";
}
